.container {
	width: 50%;
	height: 100%;
}

.right-container {
	
}

form {
	padding: 2rem;
	text-align: center;
}

form input {
	display: block;
	margin: 0 auto;
	padding: 0.5rem;
	height: 28px;
	width: 300px;
	max-width: 100%;
	background: #ffffff;
	font-size: 16px;
}

form input.error{
	border: 1px solid red;
}

form select {
	max-width: 100%;
	width: 140px;
	margin: 0 5px;
	height: 28px;
	font-size: 16px;
}

form label{
	display: none;
}

.form-group {
	margin: 0.75rem 0;
}

.errorMsg {
	font-size: 14px;
	color: red;
	margin: 0.25rem 0 0.75rem;
}

.button-submit {
	display: block;
	margin: 0 auto;
	width: 300px;
	height: 30px;
	/*padding: 0.75rem;*/
	text-transform: uppercase;
	max-width: 100%;
	background-color: blue;
	color: white;
}
